<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PI_Minecraft_Launcher_4._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PI_Minecraft_Launcher_4._0.Properties.Settings>
            <setting name="AutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customJava" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="javaPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RemeberPWD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maxMem" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="customScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>854</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>0</value>
            </setting>
        </PI_Minecraft_Launcher_4._0.Properties.Settings>
    </userSettings>
</configuration>